{% extends 'base.html' %}
{% block content %}

<div class="cart-page">

    <h2 class="title">🛒 Your Cart</h2>

    {% if cart and cart.items.all %}

    <div class="cart-container">

        {% for item in cart.items.all %}

        <div class="cart-card">

            <div class="cart-food">

                <div class="cart-info">

                    <h3>{{ item.food.name }}</h3>

                    <p class="cart-desc">
                        {{ item.food.description|truncatechars:90 }}
                    </p>

                    <p class="cart-price">
                        ₹{{ item.food.price }}
                    </p>

                </div>

                <div class="cart-actions">

                    <a href="{% url 'decrease_quantity' item.id %}" class="qty-btn">
                        −
                    </a>

                    <span class="qty">
                        {{ item.quantity }}
                    </span>

                    <a href="{% url 'add_to_cart' item.food.id %}" class="qty-btn">
                        +
                    </a>

                    <a href="{% url 'remove_item' item.id %}" class="remove-btn">
                        ✕
                    </a>

                </div>

            </div>

            <div class="item-total">
                Item Total : ₹{{ item.subtotal }}
            </div>

        </div>

        {% endfor %}

    </div>

    <!-- CART SUMMARY -->

    <div class="cart-summary">

        <div class="summary-details">

            <div class="summary-box">
                <h4>Subtotal</h4>
                <p>₹{{ subtotal }}</p>
            </div>

            <div class="summary-box">
                <h4>Delivery Fee</h4>
                <p>₹{{ delivery_fee }}</p>
            </div>

            <div class="summary-box">
                <h4>Total</h4>
                <p class="total-price">
                    ₹{{ grand_total }}
                </p>
            </div>

        </div>

        <p class="delivery-time">
            ⏱ Estimated Delivery: 30-40 mins
        </p>

        <div class="cart-buttons">

            <a href="{% url 'menu' %}" class="menu-btn">
                ← Continue Ordering
            </a>

            <a href="{% url 'checkout' %}"
               class="checkout-btn"
               onclick="return confirm('Are you sure you want to place this order?')">

               Place Order

            </a>

        </div>

    </div>

    {% else %}

    <!--  FOR EMPTY CART -->

    <div class="empty-cart">

        <h3>Your cart is empty 🍽</h3>

        <p>
            Start adding delicious food from our menu.
        </p>

        <a href="{% url 'menu' %}" class="browse-btn">
            Browse Menu
        </a>

    </div>

    {% endif %}

</div>

{% endblock %}
